@CHARSET "UTF-8";

* {
	margin: 0 0 0 0;
	font-family: Arial;
	font-size: 10pt;
}

.banner {
	background-image: url('../img/banner.png') !important;
	background-repeat: no-repeat;
	background-size: 100%;
	bottom: 0;
	left: 0;
	overflow: auto;
	padding: 3em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 60px;
	background-size: cover;
}

.conteudo {
	width: 550px;
	margin: 0 auto;
	height: auto;
	position: relative;
	padding: 2px 0px;
	text-align: left;
}

.conteudo h1 {
	text-align: center;
}

.semBorda tr, .semBorda td {
	border: none !important;
}

.conteudoNovo {
	width: 676px;
	margin: 0 auto;
	height: auto;
	position: relative;
	padding: 2px 0px;
	text-align: left;
}

.conteudoNovo h1 {
	text-align: center;
}

.login {
	font-size:20px;
	text-align:left;
	padding:1px;
}


.login h1 {
	font-size: 20px;
	color: #fff;
}

.cabecalho  {
	width: 100%;
	height: 60px;
	background: #296ad4;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}

.rodape {
	width: 100%;
	height: 50px;
	background: #296ad4;
	position: absolute;
	bottom: 0;	
}
.rodape p{
	margin-top:5px;
}

.logo img {	
	padding:6px;
	float:left;
}

.menu {
	width: 80px;
	height: 100%;
	margin-left: 95%;
	padding-top: 5px;
}

.logado {	
	width: 120px;
	height: 100%;
	margin-left: 88%;
	margin-top: -26px;
	padding-bottom: 4px;
}

.rodape p {
	color: #fff;
	padding-top: 2px;
	text-align: center;
}

.titulo {
	color: #424242;
}

.tituloEditar {
	color: #EF0D0D;
}

.menuPrincipal{
	margin-left:200px;
	width:60%;
	
}

.ui-growl{
    position:fixed;
    top:50%;
    right:50%;
    width:301px;
}

.pesquisa{
	
	width:600px;
	height:500px;
	margin-top:100px;
	padding-left:50px;
}


